<section>
  <% @recipes.each do |recipe| %>
    <h2><%= recipe.name %></h2>
    <ul>
      <li>
        <%= recipe.preparation_time %> <%= t '.min' %> 
      </li>
      <li>
        <%= recipe.portions %> <%= t '.portions' %>
      </li>
    </ul>
  <% end %>
</section>